h1 {
    margin: 0 auto;
    width: 900px;
}
.wrapper {
    margin: 0 auto;
    width: 900px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #8c73f0;
    border-radius: 3px;
}

.key {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background-color: #799974;
    font-size: 25px;
    align-items: center;
    margin: 3px;
    justify-content: center;
    display: flex;
    cursor: pointer;
    border: 2px solid black;
}

.big-key {   
    width: 80px;
    height: 50px;
    background-color: #5eba50;
    font-size: 14px;
}

.space {
    width: 400px;
    color: #799974;
}

.input-board {
    color: black;
    width: 900px;
    height: 200px;
    margin: auto;
    display: block;
}

div .big-key:nth-child(4n-1) {
    width: 130px;
}

#delete, #tab, #shift, #control, #alt, #meta, #ru {
    font-size: 14px;
}

.active-key {
    background-color: #2bf20c
}

.active-caps {
    background-color: red
}

.key:hover {
    background-color: #2bf20c;
}

.click-key {
    box-shadow: 0 0 20px #2bf20c;
}






